/* page + map + features */

body { 
    margin: 0; 
    padding:0; 
}
#map { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    width: 50%;
}
#features {
    width: 50%;
    margin-left: 50%;
    color: black;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffdc1a;
}

/* logo + navigation */

#navbar {
    overflow: hidden;
    background-color: #222;
    width: 100%;
    padding: 15px;
}
#nav {
    display: block;
    float: center;
    clear: both;
    width: 100%;
}
#navlinks {
    padding: 5px 10px 0 2px;
    display: block;
    clear: both;
}
#desc {
    padding: 20px 0 0 2px;
    display: block;
    clear: both;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    color: #fff;
}
#desc h1 {
    font-size: 20px;
    margin-top: 30x;
}
#navbar a {
    float: left;
    display: block;
    color: #ffdc1a;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    text-decoration: none;
    padding-right: 20px;
}
#navbar a:hover, 
#navbar a:active {
    color: #ffdc1a;
    text-decoration: underline;
}

/* events + about */

section {
    padding: 10px 20px;
    background-color: #222;
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    line-height: 25px;
    opacity: 1;
    cursor: pointer;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 1px;
}
img {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
section h1 {
    font-weight: strong;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}
section.active h1, 
section.focus h1, 
section.focus h1 {
    opacity: 1;
    color: #ffdc1a;
}
a {
    text-decoration:none;
}

a:visited{
    color: black;
}
#about {
    padding: 10px 20px;
    background-color: #222;
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-top: 1px solid #F3FB62;
}
#about h1 {
    font-weight: strong;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}
#about a {
    color: #ffdc1a;
}
#about a:hover, 
#about a:active, 
#about a:focus {
    color: #ffdc1a;
    text-decoration: underline;
}

